body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.clearfix:after {
    clear: both;
}

.container {
    height: 100%;
}

.container > header {
    text-align: center;
    background: rgba(0, 0, 0, 0.01);
}

.container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.3;
    padding: 0 0 0.6em 0.1em;
}


/* Demo Styles */

ul.bb-custom-grid {
    list-style: none;
    margin: 0 auto 30px auto;
    padding: 0;
    max-width: 1000px;
    display: block;
}


/* Micro clearfix hack by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */

ul.bb-custom-grid:after {
    clear: both;
}


/* end clearfix hack */

ul.bb-custom-grid li {
    float: left;
    /*width: 300px;
    height: 260px;*/
    padding: 10px 20px 30px 20px;
    background: #fff;
    position: relative;
    box-sizing: content-box;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

ul.bb-custom-grid li {
    margin-right: 10px;
    margin-left: 10px;
}

ul.bb-custom-grid li:before,
ul.bb-custom-grid li:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
}

ul.bb-custom-grid li:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}

ul.bb-custom-grid li a {
    display: block;
}

ul.bb-custom-grid li h3 {
    color: #9a9b92;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1px;
}

ul.bb-custom-grid nav {
    text-align: center;
    margin-top: 12px;
    padding-bottom: 5px;
}

ul.bb-custom-grid nav span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f0f0f0;
    margin: 3px;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.9);
}

/* custom */

img {
    max-width: 273px;
}
